!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Veja
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:700,300", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Roboto:300,500", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "styles.css", :rel => "stylesheet"}
    / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  %body
    %nav.navbar.navbar-default{:role => "navigation"}
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a{:href => "#"} 
            .sprites.brand
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.active
              %a{:href => "#"} Hadiah
            %li
              %a{:href => "#"} Leaderboard
            %li
              %a{:href => "#"} Gallery Supermama
            %li
              %a{:href => "#"} Veja
          %ul.nav.navbar-nav.navbar-right.hidden-xs.hidden-sm
            %li
              %a{:href => "#"}
                .sprites.veja
            %li
              %a{:href => "#"} 
                .sprites.alfamart
        / /.navbar-collapse
      / /.container-fluid
    .container-fluid.content
      .row.produk
        .col-md-8.col-md-offset-2
          .row
            .col-sm-4.col-sm-offset-1
              #bottle.image-toggle
                %img{src: "assets/images/bottle.png"}
                %span.label-produk 
                  500ml : 
                  %span.bold Rp 8500,-
              #pouch.image-toggle{style: "display: none"}
                %img{src: "assets/images/pouch.png"}
                %span.label-produk 
                  500ml : 
                  %span.bold Rp 6500,-
            .col-sm-6.col-sm-offset-1
              .sprites.tagline
              %h1 Veja Serbaguna
              %p Kemasan
              %ul.inline
                %li
                  .sprites.bottle.image-toggler{"data-image-id" => "#bottle"}
                %li
                  .sprites.pouch.image-toggler{"data-image-id" => "#pouch"}
              .clearfix
              %p Varian
              %ul.inline
                %li
                  .varian.blue Original
                %li
                  .varian.pink Floral
                %li
                  .varian.green Lemongrass
              .clearfix
        .col-md-8.col-md-offset-2.white
          .row
            .col-sm-9
              %h2 Tentang VEJA
              %p Veja menjadi pahlawan dalam mengatasi noda membandel yang menempel di kompor, kaca, kayu, atau pun tiles Anda. Tidak perlu bersusah payah menggosok. Produk Veja yang juga bebas dari residue membuatnya aman untuk digunakan.
            .col-sm-3
              %h2 Gerai
              %ul.gerai 
                %li Minimarket
                %li Supermarket
                %li Traditional Outlet
    .footer
      .container
        .row
          .col-xs-6.text-left
            %p Copyright Reckitt Beckinser 2014
          .col-xs-6
            %ul
              %li
                %a{href: "#"}
                  .sprites.twitter
              %li
                %a{href: "#"}
                  .sprites.facebook

    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    %script{:src => "assets/javascripts/bootstrap.js"}
    %script{:src => "assets/javascripts/veja.js"}