@media(min-width: 768px){
	.navbar-nav {
		margin-left: 10px !important;
	}
	.nav-tabs > li {
		&:first-child {
			margin-left: 35%;
		}
	}
	.produk {
		h1 {
			font-size: 30px;
		}
	}
	.title {
		margin-bottom: 40px;
		h1 {
			text-align: right;
		}

		h4 {
			text-align: center;
		}

		h5 {
			text-align: left;
		}
	}
}
@media(min-width: 992px) {
	.navbar-header {
		margin-top: 20px;
	}
	.navbar-nav {
		margin-top: 20px;
		&.navbar-right {
			margin-top: 0px;
		}
	}
}

@media (min-width: 1200px) { 
	.produk {
		h1 {
			font-size: 42px;
		}
	}
	.navbar-header {
		margin-left: 100px !important;
	}
	.navbar-nav {
		margin-left: 60px !important;
	}
}